body {
    font-family: Arial, sans-serif;
    background-image: url("./istockphoto-857045822-612x612.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#quiz-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

button.correct {
    background-color: #28a745;
}

button.wrong {
    background-color: #dc3545;
}

#result-container {
    display: none;
}

#next-button {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
}